@tailwind base;
@tailwind components;
@tailwind utilities;

.mainPageImg {
  height: 100vh;
  width: 100vw;
  background-image: url(assets/mainpage.png);
  background-size: cover;
  display: flex;
  background-position: fixed;
  justify-content: center;

}
.steamLoginBtn {
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background-color: #595959;
  background-size: cover;
  position :absolute;
  display: flex;
  height: 8vh;
  width: 26vw;
  bottom: 6px;
  margin:auto;
}

.steamTxt {
  margin-right: 25px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 39px;
}

.steamImg {
  background-image: url(assets/steamimg.png);
  background-size: cover;
  height: 6vh;
  width: 3vw;
}
.kanban {
  position: absolute;
  background-image: url(assets/kanban.png);
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: 3px;
  width: 37vw;
  height: 41vh;
  top: 20vh;
  z-index: 4;
}
.door {
  text-align: center;
  position: absolute;
  width: 33.4vw;
  height: 63vh;
  background-image: url(assets/sushiEnter.png);
  bottom: 9.5vh;
  display: block;
  justify-content: space-between;
  z-index: 1;
  
}

.leftDoor {
  width: 16.7vw;
  height: 63vh;
  background-color: #D9D9D9;
  position: absolute;
  box-shadow: 0 0 0 10px #E1BA79 inset;
  z-index: 3;
}
.rightDoor {
  width: 16.7vw;
  height: 63vh;
  margin-left: 16.7vw;
  background-color: #D9D9D9;
  position: absolute;
  box-shadow: 0 0 0 10px #E1BA79 inset;
  z-index: 3;
}

.ellipse {
  border-radius: 50%;
}

:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%; */
}

/* Plate */
#result_wrap {
  position: relative;
  margin: 25px auto;
border-radius: 20px;
  perspective: 500px;
  cursor: pointer;
}

#result_wrap .card {
  width: 100%;
  height: 100%;
  transition: all .5s;
  transform-style: preserve-3d;
}
#result_wrap:hover .card {
  transform: rotateY(180deg);
}

#result_wrap .card > div {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 20px;
  border-radius: 10px;
  backface-visibility: hidden;
}

#result_wrap .card .card-front {
  background-color: #f54;
  z-index: 10;
}

#result_wrap .card .card-back {
  background-color: #ccc;
  z-index: 5;
  transform: rotateY(180deg);
}

